<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs")%>

    <body>
    
      <%-include("../partials/headers.ejs")%>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure style="height: 60%; width: 70%;">
                <img src="/uploads/1705252374112-jacob-co-bugatti-chiron-tourbillon-sapphire-blue.jpg" alt="Image placeholder" class="img-fluid rounded">
                <img src="/uploads/1705252374118-jacob-co-bugatti-chiron-tourbillon-sapphire-blue1.jpg" alt="Image placeholder" class="img-fluid rounded">
  
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">CHRONOCOVE</h2>
            </div>
            <p> Welcome to CHRONOCOVE, where time transcends into elegance. Immerse yourself in a world of refined craftsmanship and timeless sophistication. At CHRONOCOVE, we curate an exclusive collection of luxury watches that not only measure time but redefine it.</p>

             <strong> Our Passion</strong>
             <p>At the heart of CHRONOCOVE is a passion for precision and an unwavering commitment to excellence. We believe that a luxury timepiece is more than an accessory; it's an expression of individuality, a statement of style, and a legacy that transcends generations.</p>
              
              
              <strong>Uncompromising Quality</strong>
              <p>Quality is the cornerstone of our philosophy. Each watch at CHRONOCOVE is a masterpiece, crafted with precision and attention to detail. We collaborate with renowned watchmakers who share our commitment to perfection, ensuring that every timepiece meets the highest standards of craftsmanship.</p>
              
              <strong>Personalized Service</strong>
              <p>At CHRONOCOVE, we understand that purchasing a luxury watch is a personal experience. Our dedicated team is here to assist you on your journey, providing personalized advice and attentive service to make your shopping experience as memorable as the timepiece itself.</p>
              
               
              <p>Thank you for choosing CHRONOCOVE - where time meets elegance, and every moment tells a story.</p>             
          </div>
        </div>
      </div>
    </div>
  

    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Returns</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Customer Support</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%-include("../partials/footer.ejs")%>

    
  </div>

 

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/Count.js"></script>

    
  </body>
</html>