<!DOCTYPE html>
<html lang="en">

<head>
  <title> CHRONOCOVE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">

  <link rel="stylesheet" href="/fonts/icomoon/style.css">



  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">



  <link rel="stylesheet" href="/stylesheets/aos.css">

  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="stylesheet" href="/stylesheets/aos.css">

  <!-- SweetAlert CSS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <style>
    /* Custom styles to position the Sign Out button */
    /* .signout-button {
        top: -184px;
        right: 10px;
      } */
  </style>


</head>

<body>

  <%-include("../partials/headers.ejs")%>


 <!---------------------------------Change-Password---------------------------------------->
 <div class="card card-outline-secondary mx-auto text-black" style="width: 30%; align-items: center;">
    <div class="card-header">
        <h3 class="mb-0  ">Change Password</h3>
    </div>
    <% if (locals.msg) { %>
      <div class="alert alert-danger w-100 text-center" role="alert">
        <%= msg %>
      </div>
    <% } %>

    <% if (locals.successMsg) { %>
      <script>
        Swal.fire({
         
          icon: "success",
          title: '<%= successMsg %>',
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
          window.location.href = '/profile';
        });
      </script>
    <% } %>
    
    <div class="card-body">
      <div id="toastContainer" style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>

      <form method="post" action="/changePasswordPost" class="form" role="form" autocomplete="off" id="changePasswordForm">
        <div class="form-group">
                <label for="inputPasswordOld">Current Password</label>
                <input type="password" class="form-control" name="oldPass" id="oldPass" required="">
            </div>
            <div class="form-group">
                <label for="inputPasswordNew">New Password</label>
                <input type="password" class="form-control" name="newPass" id="newPass" required="">
                <span class="form-text small text-muted">
                    The password must be 6-20 characters, and must <em>not</em> contain spaces.
                </span>
            </div>
            <div class="form-group">
                <label for="inputPasswordNewVerify">Conform Password</label>
                <input type="password" class="form-control" name="confPass" id="confPass" required="">
                <span class="form-text small text-muted">
                    To confirm, type the new password again.
                </span>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg float-right" id="btnSave">Save</button>
            </div>
        </form>
    </div>
</div>

 <!----------------------------------/Change-Password------------------------------------->

 <%-include("../partials/footer.ejs")%>

  </div>

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>

  <!-- Toast -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


 



</body>

<script> 


document.getElementById("changePasswordForm").addEventListener("submit", function(event) {
  event.preventDefault();
  this.submit();  
});

 

 


 
   

  $("#btnLogin").click(function (event) {
    var form = $("#loginForm");

    if (form[0].checkValidity() === false) {
      event.preventDefault();
      event.stopPropagation();
    }

    form.addClass('was-validated');
  });

</script>
<!-- Add this script at the end of your EJS file, before the </body> tag -->
 



</html>

 