<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- JS-->
    <script src="/javascripts/signup_jquery.min.js"></script>
    <script src="/javascripts/signup_jquery-ui.min.js"></script>
    <script src="/javascripts/signup.js"></script>

    

</head>

<body>
     <!-- Font Icon -->
     <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
     

     <!-- Main css -->
     <link rel="stylesheet" href="/stylesheets/signup.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>
 <body>
 
     <div class="main">
 
    <!-- Forgot Password Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">
                    <h2 class="form-title">Forgot Password</h2>
                    <form action="/forgotPasswordPost" method="POST" class="register-form" id="Forgot-password">
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email" />
                        </div>
                        <div class="form-group">
                            <label for="newPassword"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="newPassword" id="newPassword" placeholder="New Password" />
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" />
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="save" id="save" class="form-submit" value="Save" />
                        </div>
                    </form>
                </div>
                <div class="signin-image">
                    <figure><img src="/images/Logo.png" alt="sing up image" style="border-radius: 10px"></figure>
                    <a href="/signin" class="signup-image-link">SignIn</a>
                </div>
            </div>
        </div>
    </section>
    

</div>
 
 <!-- JS -->
 <script src="/javascripts/signup_jquery.min.js"></script>
 <script src="/javascripts/signup.js"></script>
 <script src="/public/javascripts/signup_jquery-ui.min.js"></script>
 
 <script>
    const submitForm = () => {
         document.getElementById('Forgot-password').submit();
    }
</script>

  
</body>

</html>