<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs")%>

  <body>
  
    <%-include("../partials/headers.ejs")%>



      

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Thank you!</h2>
            <p class="lead mb-5">You order was successfuly completed.</p>
            <p><a href="/" class="btn btn-sm btn-primary">Back to Home</a></p>
          </div>
        </div>
      </div>
    </div>

    <%-include("../partials/footer.ejs")%>

  </div>

 

  
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>
    
  </body>
</html>