<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head.ejs")%>

<body>

  <%-include("../partials/headers.ejs")%>

    <div class="wallet-container text-center">
        <p class="page-title"><i class="fa fa-align-left"></i>My E-wallet<i class="fa fa-user"></i></p>

        <div class="amount-box text-center">
            <img src="https://lh3.googleusercontent.com/ohLHGNvMvQjOcmRpL4rjS3YQlcpO0D_80jJpJ-QA7-fQln9p3n7BAnqu3mxQ6kI4Sw" alt="wallet">
            <p>Total Balance</p>
            <p class="amount">₹ <%= walletBalance %></p>
        </div>

        <div class="btn-group text-center">
            <button type="button" class="btn btn-outline-light">Add Money</button>
            <button type="button" class="btn btn-outline-light">Withdraw</button>
        </div>

        <div class="footer-menu">
            <div class="row text-center">
                <div class="col-md-3">
                    <i class="fa fa-home"></i>
                    <p>Home</p>
                </div>

                <div class="col-md-3">
                    <i class="fa fa-inbox"></i>
                    <p>Inbox</p>
                </div>

                <div class="col-md-3">
                    <i class="fa fa-university"></i>
                    <p>Bank</p>
                </div>

                <div class="col-md-3">
                    <i class="fa fa-barcode"></i>
                    <p>Scan</p>
                </div>
            </div>
        </div>
    </div>


    <%-include("../partials/footer.ejs")%>

  </div>

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>

</body>

</html>


 
 
